{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flashcards</title>
    <link rel="stylesheet" href="{% static 'app/css/flashcards.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <div class="container">
        <div class="flashcard-list">
            <ul id="wordList">
                <li id="filterButton" class="flashcard-item">{{ filter_message }}</li>
                {% for word in words %}
                    <li class="flashcard-item" data-id="{{ word.id }}" data-definition="{{ word.definition_text }}">
                        <div class="flashcard-column word-column">{{ word.word_text }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flashcard-detail">
            <h2>Edit Flashcard</h2>
            <form id="editFlashcardForm" method="POST" action="javascript:void(0);">
                {% csrf_token %}
                <input type="hidden" name="word_id" id="wordId">
                <textarea name="definition_text" id="definitionText" rows="4" placeholder="Edit definition..." required></textarea>
                <div class="button-container">
                    <button type="submit" id="saveButton">Save Changes</button>
                </div>
                <div class="button-container">
                    <a id="learn-button" href="#" class="action-button">Learn</a>
                </div>
            </form>
            <div id="conjugationTableContainer" style="display: none;">
                <div class="table-wrapper">
                    <table id="conjugation-table">
                        <thead>
                            <tr>
                                <!-- Rows will be populated dynamically -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Rows will be populated dynamically -->
                        </tbody>
                    </table>
                    <table id="past-conjugation-table">
                        <thead>
                            <!-- Rows will be populated dynamically -->
                        </thead>
                        <tbody>
                            <!-- Rows will be populated dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var learnWordUrlTemplate = "{% url 'learn_word' 'root_word' %}";
    </script>
    <script src="{% static 'app/js/flashcards.js' %}"></script>
</body>
</html>
