{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ word }}</title>
    <link rel="stylesheet" href="{% static 'app/css/learn_word.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <div class="content">
        <div id="conjugationTableContainer">
            <div class="left-panel">
                <table class="word-definition-table">
                    <tbody>
                        <tr>
                            <td><strong>{{ word }}</strong></td>
                        </tr>
                        <tr>
                            <td><strong>{{ definition }}</strong></td>
                        </tr>
                    </tbody>
                </table>
                {% if can_learn %}
                    <form method="POST" action="{% url 'add_vocab' id %}">
                        {% csrf_token %}
                        <button class="vocab-button" type="submit">Add to My Vocab</button>
                    </form>
                {% endif %}
                <div class="video-container">
                    <iframe id="player"
                        src="https://www.youtube.com/embed/{{ video_data.url }}?enablejsapi=1"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </div>
                <div class="navigation-controls">
                    <button class="nav-button" onclick="previousTimestamp()">⬅</button>
                    <button class="nav-button" onclick="skipToCurrent()">Skip to "{{ currentWord }}"</button>
                    <button class="nav-button" onclick="nextTimestamp()">➡</button>
                </div>
            </div>
            <div class="right-panel">
                {% if table_type == 0 %}
                    <div class="table-wrapper">
                        <table id="conjugation-table">
                            <thead>
                                <tr>
                                    <th colspan="3">Present</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Singular</th>
                                    <th>Plural</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>1p</strong></td>
                                    <td>{{ conjugation_table.0.1 }}</td>
                                    <td>{{ conjugation_table.1.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>2p</strong></td>
                                    <td>{{ conjugation_table.2.1 }}</td>
                                    <td>{{ conjugation_table.3.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>3p</strong></td>
                                    <td>{{ conjugation_table.4.1 }}</td>
                                    <td>{{ conjugation_table.5.1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="past-conjugation-table">
                            <thead>
                                <tr>
                                    <th colspan="6" style="text-align: center;">Past</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>m.</th>
                                    <th>f.</th>
                                    <th>n.</th>
                                    <th>m. pl.</th>
                                    <th>other pl.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>1p</strong></td>
                                    <td>{{ conjugation_table.6.1 }}</td>
                                    <td>{{ conjugation_table.7.1 }}</td>
                                    <td>{{ conjugation_table.8.1 }}</td>
                                    <td>{{ conjugation_table.9.1 }}</td>
                                    <td>{{ conjugation_table.10.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>2p</strong></td>
                                    <td>{{ conjugation_table.11.1 }}</td>
                                    <td>{{ conjugation_table.12.1 }}</td>
                                    <td>{{ conjugation_table.13.1 }}</td>
                                    <td>{{ conjugation_table.14.1 }}</td>
                                    <td>{{ conjugation_table.15.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>3p</strong></td>
                                    <td>{{ conjugation_table.16.1 }}</td>
                                    <td>{{ conjugation_table.17.1 }}</td>
                                    <td>{{ conjugation_table.18.1 }}</td>
                                    <td>{{ conjugation_table.19.1 }}</td>
                                    <td>{{ conjugation_table.20.1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% elif table_type == 1 %}
                    <div class="table-wrapper">
                        <table id="conjugation-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Singular</th>
                                    <th>Plural</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Nom</strong></td>
                                    <td>{{ conjugation_table.0.1 }}</td>
                                    <td>{{ conjugation_table.7.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Gen</strong></td>
                                    <td>{{ conjugation_table.1.1 }}</td>
                                    <td>{{ conjugation_table.8.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Dat</strong></td>
                                    <td>{{ conjugation_table.2.1 }}</td>
                                    <td>{{ conjugation_table.9.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Acc</strong></td>
                                    <td>{{ conjugation_table.3.1 }}</td>
                                    <td>{{ conjugation_table.10.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Instr</strong></td>
                                    <td>{{ conjugation_table.4.1 }}</td>
                                    <td>{{ conjugation_table.11.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Loc</strong></td>
                                    <td>{{ conjugation_table.5.1 }}</td>
                                    <td>{{ conjugation_table.12.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Voc</strong></td>
                                    <td>{{ conjugation_table.6.1 }}</td>
                                    <td>{{ conjugation_table.13.1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% elif table_type == 2 %}
                    <div class="table-wrapper">
                        <table id="conjugation-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>m.</th>
                                    <th>n.</th>
                                    <th>f.</th>
                                    <th>m. pl.</th>
                                    <th>other pl.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Nom</strong></td>
                                    <td>{{ conjugation_table.0.1 }}</td>
                                    <td>{{ conjugation_table.1.1 }}</td>
                                    <td>{{ conjugation_table.2.1 }}</td>
                                    <td>{{ conjugation_table.3.1 }}</td>
                                    <td>{{ conjugation_table.4.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Gen</strong></td>
                                    <td colspan="2">{{ conjugation_table.5.1 }}</td>
                                    <td>{{ conjugation_table.7.1 }}</td>
                                    <td colspan="2">{{ conjugation_table.9.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Dat</strong></td>
                                    <td colspan="2">{{ conjugation_table.10.1 }}</td>
                                    <td>{{ conjugation_table.12.1 }}</td>
                                    <td colspan="2">{{ conjugation_table.14.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Acc</strong></td>
                                    <td>{{ conjugation_table.15.1 }}</td>
                                    <td>{{ conjugation_table.16.1 }}</td>
                                    <td>{{ conjugation_table.17.1 }}</td>
                                    <td>{{ conjugation_table.18.1 }}</td>
                                    <td>{{ conjugation_table.19.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Instr</strong></td>
                                    <td colspan="2">{{ conjugation_table.20.1 }}</td>
                                    <td>{{ conjugation_table.22.1 }}</td>
                                    <td colspan="2">{{ conjugation_table.24.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Loc</strong></td>
                                    <td colspan="2">{{ conjugation_table.25.1 }}</td>
                                    <td>{{ conjugation_table.27.1 }}</td>
                                    <td colspan="2">{{ conjugation_table.29.1 }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Voc</strong></td>
                                    <td>{{ conjugation_table.30.1 }}</td>
                                    <td>{{ conjugation_table.31.1 }}</td>
                                    <td>{{ conjugation_table.32.1 }}</td>
                                    <td>{{ conjugation_table.33.1 }}</td>
                                    <td>{{ conjugation_table.34.1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        var timestamps = [
            {% for item in words %}
                { time: {{ item.start }}, word: "{{ item.word }}" },
            {% endfor %}
        ];
    </script>
    <script src="{% static 'app/js/learn_word.js' %}"></script>
</body>
</html>
